apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: disconnected-operator-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: {{ mirror_endpoint }}/{{ registry_operator_org }}/{{ registry_operator_repo }}:{{ registry_operator_tag }} 
  displayName: Disconnected Operator Catalog
  publisher: grpc
